:root {
  --hitam:#111827;
  --putih:#ffffff;
  --abu2:#f3f4f6;
  --abu-abu-gelap:#9ca3af;
  --merah:#f7374f;
  --hijau:#16a34a;

  --surface:#ffffff;
  --line:rgba(0,0,0,.08);
  --ring:rgba(15,23,42,.08);
  --shadow-1:0 8px 28px rgba(2,6,23,.12);
}
